/*mobile first*/
* {box-sizing: border-box;
padding: 0%;
margin: 0%;
}

.container > * {
  background-color: white;
  /*padding: 5px;*/
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
}

nav ul {
  border: 1px solid #97B2AD;
  background-color: #97B2AD;
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

li {
  float: left;
  flex-grow: 1;
}

li a {
  display: inline-block;
  color: #FFFFFF;
  margin-right: 20px;
  padding: 2px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #CEDDD9;
}

.logo{
  width: 10em;
  height: 10em;
}

.header{
  grid-area: header;
  text-align: center;
  background-color: #97B2AD;
  height: 200px;
  /*padding-top: 25px;*/
  width: 100vw;
}

.dropdown-content {
  grid-area: nav;
  list-style: none;
}

.content_1 {
  grid-area: content_1;
  background-color: white;
  list-style: none;
  padding: 5%;
  width: 100vw;
}

.footer {
  grid-area: footer;
  background-color: #CEDDD9;
  text-align: center;
}

.container {
  width: 100vw;
  display: grid;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.2fr 3fr 0.2fr;
  grid-template-areas:
  "header"
  "nav"
  "content_1"
  "footer"
}

p {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: lighter;
}

.velkommen {
  padding-bottom: 5%;
  padding-top: 5%;
  margin-left: 5%;
}

h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
  font-weight: bold;
  letter-spacing: 0.2em;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 5%;
}

.om_mig {
  padding: 5%;
}

.beskrivelse {
  padding-bottom: 20%;
  padding-top: 0;
  margin-left: 5%;
  margin-right: 5%;
}

.kontakt {
  color: white;
  background-color: #B08770;
  padding: 10px;
  font-size: 15px;
  border-radius: 50px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Montserrat', sans-serif;
}

div.kontakt a:link {
  color: white;
  text-decoration: none;
}

div.kontakt a:visited {
  color: white;
  text-decoration: underline;
}

div.kontakt a:hover {
  color: #DBC6B6;
}

div.kontakt a:active {
  text-decoration: none;
}

.kontakt_side {
  padding: 5%;
}

.fang {
  padding-bottom: 0;
}

.ikoner {
  display: flex;
  flex-direction: columns;
  list-style: none;
  color: black;
  text-align: center;
  justify-content: space-around;
  padding: 0;
  font-size: 30px;
}

div.ikoner a:link {
  color: #B08770;
  text-decoration: none;
}

div.ikoner a:visited {
  color: #B08770;
  text-decoration: none;
}

div.ikoner a:hover {
  color: #B08770;
}

div.ikoner a:active {
  text-decoration: none;
}

.portrait {
  width: 15em;
  height: 200px;
  background-image:url(hvid_sort_portrait.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.billede1{
  width: 300px;
  height: 200px;
  background-image:url(magasin.jpg);
  text-align: center;
  grid-area: billede1;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede2{
  width: 300px;
  height: 200px;
  background-image: url(hand.jpg);
  text-align: center;
  grid-area: billede2;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.billede3{
  width: 300px;
  height: 200px;
  background-image: url(IMG_7689.jpg);
  text-align: center;
  grid-area: billede3;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text1 {
  grid-area: text1;
  text-align: center;
  /*width: 50%;*/
}

.text2 {
  grid-area: text2;
  text-align: center;
  /*width: 50%;*/
}

.text3 {
  grid-area: text3;
  text-align: center;
  /*width: 50%;*/
}

.collage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "billede1"
  "text1"
  "billede2"
  "text2"
  "billede3"
  "text3"
}

.om_mig_billede {
  width: 300px;
  height: 200px;
  background-image:url(DSC05957.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.kontakt_billede {
  width: 300px;
  height: 200px;
  background-image:url(DSC05904.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.billede_et{
  width: 300px;
  height: 200px;
  background-image:url(magasin.jpg);
  text-align: center;
  grid-area: billede_et;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_to{
  width: 300px;
  height: 200px;
  background-image: url(hand.jpg);
  text-align: center;
  grid-area: billede_to;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.billede_tre{
  width: 300px;
  height: 200px;
  background-image: url(IMG_7689.jpg);
  text-align: center;
  grid-area: billede_tre;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.billede_fire {
  width: 300px;
  height: 200px;
  background-image: url(paper_airplane.jpg);
  text-align: center;
  grid-area: billede_fire;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.billede_fem {
  width: 300px;
  height: 200px;
  background-image: url(IMG_7684.jpg);
  text-align: center;
  grid-area: billede_fem;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.billede_seks {
  width: 300px;
  height: 200px;
  background-image: url(fyn_plakat.jpg);
  text-align: center;
  grid-area: billede_seks;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_et {
  grid-area: text_et;
  text-align: center;
  /*width: 50%;*/
}

.text_to {
  grid-area: text_to;
  text-align: center;
  /*width: 50%;*/
}

.text_tre {
  grid-area: text_tre;
  text-align: center;
  /*width: 50%;*/
}

.text_fire {
  grid-area: text_fire;
  text-align: center;
  /*width: 50%;*/
}

.text_fem {
  grid-area: text_fem;
  text-align: center;
  /*width: 50%;*/
}

.text_seks {
  grid-area: text_seks;
  text-align: center;
  /*width: 50%;*/
}

.collage_to {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
  "billede_et"
  "text_et"
  "billede_to"
  "text_to"
  "billede_tre"
  "text_tre"
  "billede_fire"
  "text_fire"
  "billede_fem"
  "text_fem"
  "billede_seks"
  "text_seks"

}

.nav-hide-on-mobile {
  display: none;
}

/*dropdown*/
@media  (max-width:400px){

  nav ul {
    flex-direction: column;
  }

  button {
    color: white;
    background-color: #97B2AD;
    padding: 0;
    font-size: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100vw;
    left: 1px;
    top: 5px;
  }

  .dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    list-style: none;
    background-color:#97B2AD;
    min-width: 160px;
    z-index: 1;
  }
  /*z-index afgør hvilket lag det ligger i*/

  .dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #CEDDD9;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown a:hover .dropbutton {
    background-color: #CEDDD9;
  }
}


/*Ipad*/
@media (min-width:400px){
.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.2fr 2fr 0.2fr;
  grid-template-areas:
  "header nav"
  "content_1 content_1"
  "footer footer"
}

.dropdown {
  display: none;
}

.nav-hide-on-mobile {
  display: flex;
  background-color: #97B2AD;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: row;
}

.header {
  background-color: #97B2AD;
  border: 0;
  padding:0;
  margin: 0;
  width: 100vw;
}

.logo {
  width: 10em;
  height: 10em;
}

.content_1 {
  grid-area: content_1;
  background-color: white;
  list-style: none;
  padding: 5%;
  width: 100vw;
}

.footer {
  grid-area: footer;
  background-color: #CEDDD9;
  text-align: center;
  font-size: 20px;
}

p {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: lighter;
}

.velkommen {
  padding-bottom: 5%;
  font-size: 25px;
  /*padding-top: 5%;*/
}

h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 0;
  font-size: 30px;
}

.kontakt {
  color: white;
  background-color: #B08770;
  padding: 10px;
  font-size: 25px;
  border-radius: 50px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.beskrivelse {
  font-size: 25px;
}

.om_mig {
  font-size: 25px;
}

.kontakt_side {
  padding-top: 2%;
  text-align: center;
  font-size: 25px;
}

.fang {
  padding-bottom: 0;
}

.ikoner {
  display: flex;
  flex-direction: columns;
  list-style: none;
  color: #B08770;
  text-align: center;
  justify-content: space-around;
  padding: 0;
  font-size: 40px;
}

div.ikoner a:link {
  color: #B08770;
  text-decoration: none;
}

div.ikoner a:visited {
  color: #B08770;
  text-decoration: none;
}

div.ikoner a:hover {
  color: #B08770;
}

div.ikoner a:active {
  text-decoration: none;
}


.portrait {
  width: 500px;
  height: 300px;
  background-image:url(hvid_sort_portrait.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.om_mig_billede {
  width: 500px;
  height: 300px;
  background-image:url(DSC05957.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.kontakt_billede {
  width: 500px;
  height: 300px;
  background-image:url(DSC05904.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.billede1{
  width: 700px;
  height: 500px;
  background-image:url(magasin.jpg);
  text-align: center;
  grid-area: billede1;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede2{
  width: 700px;
  height: 500px;
  background-image: url(hand.jpg);
  text-align: center;
  grid-area: billede2;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede3{
  width: 700px;
  height: 500px;
  background-image: url(IMG_7689.jpg);
  text-align: center;
  grid-area: billede3;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.text1 {
  grid-area: text1;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text2 {
  grid-area: text2;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text3 {
  grid-area: text3;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.collage {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "billede1"
  "text1"
  "billede2"
  "text2"
  "billede3"
  "text3"
}


.billede_et{
  width: 700px;
  height: 500px;
  background-image:url(magasin.jpg);
  text-align: center;
  grid-area: billede_et;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_to{
  width: 700px;
  height: 500px;
  background-image: url(hand.jpg);
  text-align: center;
  grid-area: billede_to;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_tre{
  width: 700px;
  height: 500px;
  background-image: url(IMG_7689.jpg);
  text-align: center;
  grid-area: billede_tre;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_fire {
  width: 700px;
  height: 500px;
  background-image: url(paper_airplane.jpg);
  text-align: center;
  grid-area: billede_fire;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_fem {
  width: 700px;
  height: 500px;
  background-image: url(IMG_7684.jpg);
  text-align: center;
  grid-area: billede_fem;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_seks {
  width: 700px;
  height: 500px;
  background-image: url(fyn_plakat.jpg);
  text-align: center;
  grid-area: billede_seks;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.text_et {
  grid-area: text_et;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text_to {
  grid-area: text_to;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text_tre {
  grid-area: text_tre;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text_fire {
  grid-area: text_fire;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text_fem {
  grid-area: text_fem;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.text_seks {
  grid-area: text_seks;
  text-align: center;
  font-size: 40px;
  /*width: 50%;*/
}

.collage_to {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
  "billede_et"
  "text_et"
  "billede_to"
  "text_to"
  "billede_tre"
  "text_tre"
  "billede_fire"
  "text_fire"
  "billede_fem"
  "text_fem"
  "billede_seks"
  "text_seks"
}
}

/*desktop*/
@media (min-width:800px){
.container {
  display: grid;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.2fr 2fr 0.2fr;
  grid-template-areas:
  "header nav"
  "content_1 content_1"
  "footer footer"
}


.dropdown {
  display: none;
}

.nav-hide-on-mobile {
  display: flex;
  background-color: #97B2AD;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: row;
}

p {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: lighter;
}

.velkommen {
  /*padding-bottom: 5%;*/
}

h1 {
  text-align: center;
  padding-top: 0;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding-top: 2%;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 0;
}

.kontakt {
  color: white;
  background-color: #B08770;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border: none;
  font-family: 'Montserrat', sans-serif;
}


.kontakt_side {
  padding-top: 2%;
  text-align: center;
}

.fang {
  padding-bottom: 0;
}


.ikoner {
  display: flex;
  flex-direction: columns;
  list-style: none;
  color: #B08770;
  text-align: center;
  justify-content: space-around;
  padding: 0;
  font-size: 50px;
}

div.ikoner a:link {
  color: #B08770;
  text-decoration: none;
}

div.ikoner a:visited {
  color: #B08770;
  text-decoration: none;
}

div.ikoner a:hover {
  color: #B08770;
}

div.ikoner a:active {
  text-decoration: none;
}

.om_mig {
  padding-top: 1%;
}

.portrait {
  width: 500px;
  height: 300px;
  background-image:url(hvid_sort_portrait.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.om_mig_billede {
  width: 500px;
  height: 300px;
  background-image:url(DSC05957.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.kontakt_billede {
  width: 500px;
  height: 300px;
  background-image:url(DSC05904.jpg);
  text-align: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.billede1{
  width: 300px;
  height: 200px;
  background-image:url(magasin.jpg);
  text-align: center;
  grid-area: billede1;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede2{
  width: 300px;
  height: 200px;
  background-image: url(hand.jpg);
  text-align: center;
  grid-area: billede2;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede3{
  width: 300px;
  height: 200px;
  background-image: url(IMG_7689.jpg);
  text-align: center;
  grid-area: billede3;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.text1 {
  grid-area: text1;
  text-align: center;
  font-size: 25px;
  /*width: 50%;*/
}

.text2 {
  grid-area: text2;
  text-align: center;
  font-size: 25px;
  /*width: 50%;*/
}

.text3 {
  grid-area: text3;
  text-align: center;
  font-size: 25px;
  /*width: 50%;*/
}

.collage {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "billede1 billede2 billede3"
  "text1 text2 text3"
}


.billede_et{
  width: 400px;
  height: 300px;
  background-image:url(magasin.jpg);
  text-align: center;
  grid-area: billede_et;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_to{
  width: 400px;
  height: 300px;
  background-image: url(hand.jpg);
  text-align: center;
  grid-area: billede_to;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_tre{
  width: 400px;
  height: 300px;
  background-image: url(IMG_7689.jpg);
  text-align: center;
  grid-area: billede_tre;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_fire {
  width: 400px;
  height: 300px;
  background-image: url(paper_airplane.jpg);
  text-align: center;
  grid-area: billede_fire;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_fem {
  width: 400px;
  height: 300px;
  background-image: url(IMG_7684.jpg);
  text-align: center;
  grid-area: billede_fem;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.billede_seks {
  width: 400px;
  height: 300px;
  background-image: url(fyn_plakat.jpg);
  text-align: center;
  grid-area: billede_seks;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.text_et {
  grid-area: text_et;
  text-align: center;
  font-size: 30px;
  /*width: 50%;*/
}

.text_to {
  grid-area: text_to;
  text-align: center;
  font-size: 30px;
  /*width: 50%;*/
}

.text_tre {
  grid-area: text_tre;
  text-align: center;
  font-size: 30px;
  /*width: 50%;*/
}

.text_fire {
  grid-area: text_fire;
  text-align: center;
  font-size: 30px;
  /*width: 50%;*/
}

.text_fem {
  grid-area: text_fem;
  text-align: center;
  font-size: 30px;
  /*width: 50%;*/
}

.text_seks {
  grid-area: text_seks;
  text-align: center;
  font-size: 30px;
  /*width: 50%;*/
}

.collage_to {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "billede_et billede_to"
  "text_et text_to"
  "billede_tre billede_fire"
  "text_tre text_fire"
  "billede_fem billede_seks"
  "text_fem text_seks"
}


}
